## macOS finder metadata
**/.DS_Store

## disabled parts of configuration
**/disabled/

## nix builds & caching
.direnv
result
result-*

## git pre-commit hooks (handled via cachix/git-hooks)
.pre-commit-config.yaml

## dataset (can be fetched from kaggle)
dataset/
## pre-trained models
models/
## Video presentation
*.mkv
## Python virtual environment
.venv
## RevealJS directory
**/reveal*

## Tools
.claude/
AGENTS.md
.serena*
.mcp*